.intro,
.intro body,
.intro body .wrap,
.intro body .wrap .view {
    height: 100%;

    @include media-breakpoint-down('md') {
        height: 1000px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .intro,
    .intro body,
    .intro body .wrap,
    .intro body .wrap .view {
        height: 650px;
    }
}
