.navbar-toggler {
    position: absolute;
    padding: 1.5rem 1rem;
    top: 0;
    right: 0;

    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        position: relative;
        background-color: hsla(0, 0%, 100%, .84);
        @include transition(all .28s ease-in-out);

        &:nth-of-type(1) {
            top: 3px;
            @include rotate(45deg);
        }

        &:nth-of-type(2) {
            top: 1px;
            @include rotate(-45deg);
        }
    }

    &.collapsed {
        .icon-bar:nth-of-type(1) {
            top: 0;
        }

        .icon-bar:nth-of-type(2) {
            top: 4px;
        }

        .icon-bar {
            @include rotate(0deg);
        }
    }
}
